
// Colors //

$color__cyan:           #5FBAF4;
$color__darker_cyan:    #3071E7;
$color__faint:          #2E3136;
$color__white:          #FFFFFF;
$color__light_gray:     #AEAEAE;
$color__lighter_gray:   #DEE0DF;
$color__sky_blue:       #2798B4;
$background_light:      #36393E;
$background_dark:       #2E3136;

// Fonts //

$font:         'Source Sans Pro', sans-serif;
$font_alt:     'Miriam Libre', 'Source Sans Pro', sans-serif;
$font_code:    'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;
